.app-nav-container{

    background-color: $clr3;
    .site-logo{
        color: $clr4;
    }
    
    .nav-list{
        list-style-type: none;
        padding-left: 1rem;
        li{
            >*{
                margin-inline-start: 1.2rem;
                color: $clr4;
            }
        }
    }
}